*.obj
*.tlog
000_Framework/libAGraphic/build
000_Framework/CaseClient/src/SocketIPC/build
001_Project/001_GWMV2MH/camera/cameraStateTest
*.sdf
*.suo
*.ipch
*.user
*.opensdf
*.o
*.*~
Debug
*.ilk
/003_OpenSrc/poco-1.7.8/bin/*.pdb
*.pdb
debug_shared
/002_UseCase/wintool_CaseClient/LogBox.out
/003_OpenSrc/poco-1.7.8/Foundation/testsuite/bin/TestAppd.exe
/003_OpenSrc/poco-1.7.8/Foundation/testsuite/bin/TestLibraryd.dll
/003_OpenSrc/poco-1.7.8/Foundation/testsuite/bin/TestLibraryd.exp
/003_OpenSrc/poco-1.7.8/Foundation/testsuite/bin/TestLibraryd.lib
*.so
adasmain
